.moment {
  background: $background;
  @include rounding;
  font-family: "Iosevka Nerd Font";
}

calendar {
  font-family: "Iosevka Nerd Font";

  &:selected {
    color: $accent;
  }

  &:indeterminate {
    color: rgba(205, 219, 249, 0.3);
  }
}

.moment_calendar {
  background-color: $background;
  border-radius: 10px;

  .moment_cal-box {
    padding: 0 1rem;
    background-color: $background;
    border-radius: inherit;

    margin: 1em;


    .moment_day-names {
      font-family: "Iosevka Nerd Font";
      margin: 1em 1em 0.5em;
      font-weight: bold;
      font-size: 20px;
      color: $green;
    }

    .moment_cal {
      font-size: 18px;
      padding: 1em .75em 0.3em;
    }
  }
}

.moment_month-year {
  font-family: "Iosevka Nerd Font";
  font-size: 1.3rem;
  color: $foreground;

}

.moment_up {
  padding: 18px;
  background: $background-alt;
}
