.exit {
  padding: 0rem;
  background: transparent;
  @include rounding;
  min-height: 1080px;
}

.eb {
  background-size: cover;
  min-height: 1080px;
}


.powername {
  font-size: 20px;
  font-family: Iosevka Nerd Font;
}

.powerbtnicon {
  @include rounding;
  padding: 3.5rem;
  font-size: 50px;
  font-family: Material Design Icons;
  background: $background;
}

.magenta {
  border: 4px solid $magenta;
  color: $magenta;
}

.yellow {
  border: 4px solid $yellow;
  color: $yellow;
}

.green {
  border: 4px solid $green;
  color: $green;
}

.blue {
  border: 4px solid $blue;
  color: $blue;
}

.red {
  border: 4px solid $red;
  color: $red;
}

.transparent {
  background: transparent;
}

.btnns {
  background: $background-alt;
  padding: 1rem;
}

.exit-g {
  background-image: linear-gradient(to right, rgba($background, 0.8), rgba($background, 0.8));
}

.exitcontent {
  padding: 1rem;
}

.closeexit {
  font-size: 30px;
  color: $red;
  padding: 0 5px;
  @include rounding;
  font-family: Material Design Icons;
}

.exitsong {
  border-radius: 0px 5px 5px 0px;
  background-image: linear-gradient(to right, $magenta, $magenta-light);
  padding: 10px 18px;
  color: $background;
  font-size: 16px;
  font-family: "Iosevka Nerd Font";
}

.exitbat {
  border-radius: 5px;
  margin-right: 1rem;
  background-image: linear-gradient(to right, $green, $green-light);
  padding: 10px 18px;
  color: $background;
  font-size: 16px;
  font-family: "Iosevka Nerd Font";
}

.sundial {
  border-radius: 5px 0px 0px 5px;
  background-image: linear-gradient(to right, $blue, $blue-light);
  padding: 4px 18px;
  color: $background;
  font-size: 16px;
  font-family: "Iosevka Nerd Font";
}

.exitcover {
  min-height: 40px;
  border-radius: 5px 0px 0px 5px;
  background-size: cover;
  min-width: 40px;
}

.exituser {
  min-height: 40px;
  border-radius: 0px 5px 5px 0;
  background-size: cover;
  min-width: 40px;
}

.exitsp {
  @include rounding;
  margin-left: 1.5rem;
  font-size: 4rem;
  font-weight: 300;
  font-family: "Iosevka Nerd Font";
  color: $background;
  padding: 0 12px;
  background: linear-gradient(to right, $red, $yellow);
}

.exitmsg {
  font-size: 5rem;
  font-weight: 300;
  font-family: "Iosevka Nerd Font";

}

.allbtns {
  margin-top: 3rem;
}
